.logofooter__img {
	width: 150px;
	padding-left: 15px;
}
.row div h2 a {
	font-family: 'Rubik', sans-serif;
	color: darkslategrey;
	font-size: 25px;
	letter-spacing: 3px;
	text-decoration: none;
}
.rrss a {
	text-decoration: none;
	line-height: 5px;
	color: darkslategrey;
	font-size: 45px;
}
.row .copyright h4 {
	font-family: 'Ubuntu Condensed', sans-serif;
	font-size: 25px;
	color: darkslategrey;
}
footer {
	height: 200px;
}